@font-face {
    font-family: 'Bellota';
    src: url('Bellota-Regular-webfont.eot');
    src: url('Bellota-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('Bellota-Regular-webfont.woff2') format('woff2'),
        url('Bellota-Regular-webfont.woff') format('woff'),
        url('Bellota-Regular-webfont.ttf') format('truetype'),
        url('Bellota-Regular-webfont.svg#bellotaregular') format('svg');
}